@page "/"

<h1>Welcome to EventEase</h1>

<EventCard EventTitle="Tech Conference" EventDate="DateTime.Now.AddDays(10)" Location="New York" Description="Annual tech event" />

<p>
    <a href="/register">Go to Registration Form</a>
</p>

<p>
    <a href="/attendance">Go to Attendance Tracker</a>
</p>